<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horror Trope Bingo</title>
    <link rel="stylesheet" href="./static/stylesheet/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Registration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/success">Registered Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tropes">Tropes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/game">Play A Game <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        {%if not 'user_id' in session:%}
                        Not logged in
                        {%endif%}
                        {%if 'user_id' in session:%}
                        Logged in as: {{session['user_name']}}
                        {%endif%}
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/log_out">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
            </form>
        </div>
    </nav>

    <main>
        <div class="container">
            <h1>Welcome to the website, {{session['user_name']}}!</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}

            <!-- create game board with randomly selected tropes -->

            <h2>Play the game!</h2>

            <!-- table wasnt working too well, trying grid -->
            <!-- <table class="table table-dark">
                <tbody>
                    <tr class="board_row"> -->

                        <div class="grid-container">

                            {%for i in range(0, 12)%}
                            <button class="grid-item" onclick="toggle_button(this)">{{random_tropes[i].content}}</button>
                            {%endfor%}
                            
                            <button class="grid-item" onclick="toggle_button(this)">Free Space</button>
                            
                            {%for i in range(12, 24)%}
                            <button class="grid-item" onclick="toggle_button(this)">{{random_tropes[i].content}}</button>
                            {%endfor%}

                        </div>


                    <!-- </tr>
                </tbody>
            </table> -->

        </div>
    </main>
    <script src="./static/js/script.js"></script>
</body>

</html>