<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horror Trope Bingo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Registration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/success">Registered Users</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tropes">Tropes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/game">Play A Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        {%if not 'user_id' in session:%}
                        Not logged in
                        {%endif%}
                        {%if 'user_id' in session:%}
                        Logged in as: {{session['user_name']}}
                        {%endif%}
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/log_out">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
            </form>
        </div>
    </nav>

    <main>
        <div class="container">
            <h1>Welcome to the website, {{session['user_name']}}!</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}

            <!-- Form to Submit a Trope -->
            <div>
                <h2>Submit a Trope!</h2>

                <form action="/new_trope" method="POST">

                    <!-- form for content -->
                    <div class="form-group">
                        {% with errors = get_flashed_messages(category_filter=["content"]) %}
                        {% if errors %}
                        <div class="alert-message block-message error">
                            <ul>
                                {%- for msg in errors %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}
                        <label for="new_trope_content">Content:</label>
                        <input type="text" class="form-control" id="new_trope_content"
                            aria-describedby="new_trope_content_Help" name="new_trope_content">
                        <small id="new_trope_content_Help" class="form-text text-muted">Max 255 characters.</small>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>

            <!-- List of Current Tropes -->
            <div>
                <h2>Current Tropes:</h2>

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Content</th>
                            <th scope="col">Submitted By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for trope in all_tropes%}
                        <tr>
                            <th scope="row">{{trope.id}}</th>
                            <td>{{trope.content}}</td>
                            <td>{{trope.user_id}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>